# macOS
.DS_Store

# Node
node_modules/
dist/
.turbo/

# Editors
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# VitePress
.vitepress/cache/
.vitepress/dist/
